<article class="card {{post_class}}">
	<div class="md:grid grid-cols-3 gap-4">
    {{#if feature_image}}
		<div class="col-span-2 relative">
			<a href="{{url}}" class="block card-image-link">
				<span class="card-tag badge tag-featured absolute top-4 left-0 flex items-center gap-2">
					{{> "icons/star"}}
					<span>Featured</span>
				</span>
				<img class="card-image-top"
					srcset="{{img_url feature_image size="s"}} 300w,
									{{img_url feature_image size="m"}} 600w,
									{{img_url feature_image size="l"}} 1000w,
									{{img_url feature_image size="xl"}} 2000w"
					sizes="(max-width: 1000px) 400px, 800px"
					src="{{img_url feature_image size="m"}}"
					alt="{{title}}"
					loading="lazy"
				/>
				</a>
		</div>
    {{/if}}			
		<div class="relative">
			<a href="{{url}}">
				<div class="card-body">
					<div class="flex flex-row-reverse">
					{{#if primary_tag}}
					{{#primary_tag}}
					<span class="card-tag badge" style="background-color: {{accent_color}};">{{name}}</span>
					{{/primary_tag}}
					{{/if}}
					</div>
					<h5 class="card-title mb-3 mt-5">{{title}}</h5>
					<p class="card-text card-excerpt">{{excerpt characters="340"}}</p>				
				</div>
			</a>
			<div class="card-footer px-4">
				<div class="flex items-center">
					<div class="flex-auto">
						<p class="card-text pt-2"><small class="text-muted"><time datetime="{{date format="YYYY-MM-DD"}}">{{date}}</time> <span class="mx-2"></span> {{reading_time}}</small></p>
					</div>
						{{#if @custom.show_author}}
						{{#foreach authors}}
						<a href="{{url}}" class="card-author flex-none" data-toggle="tooltip" aria-label="{{name}}" title="Posted by {{name}}">
							<div style="background-image: url({{img_url profile_image size="xs"}}?s=250&amp;d=mm&amp;r=x);"></div>
						</a>
						{{/foreach}}
						{{/if}}
				</div>
			</div>
		</div>
	</div>
</article>