{{!< default}}

<section id="author">
	<div class="container max-w-6xl mx-auto relative md:pb-20 md:pt-5 flex gap-6">
		<div class="flex-1 pt-2 ">
			{{#author}}
			<div class="bg-primary-50 w-52 rounded author-card mt-3">
				{{#if profile_image}}
				<img class="author-profile-pic" src="{{profile_image}}" alt="{{name}}" />
				{{else}}
				<span class="author-profile-pic">{{> "icons/avatar"}}</span>
				{{/if}}
				<h1 class="my-4">{{name}}</h1>
				<p>
				{{#if bio}}
					{{bio}}
				{{else}}
					{{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}} published
				{{/if}}
				</p>

				<div class="author-profile-meta my-4">
					{{#if location}}
					<div class="author-profile-location">📍 {{location}}</div>
					{{/if}}
					<div class="author-icons flex items-center gap-2">
						{{#if website}}
						<a class="icon" href="{{website}}" target="_blank" rel="noopener">{{> "icons/website"}}</a>
						{{/if}}
						{{#if twitter}}
						<a class="icon" href="{{twitter_url}}" target="_blank" rel="noopener">{{> "icons/twitter"}}</a>
						{{/if}}
						{{#if facebook}}
						<a class="icon" href="{{facebook_url}}" target="_blank" rel="noopener">{{> "icons/facebook"}}</a>
						{{/if}}
					</div>
				</div>

			</div>
			{{/author}}
		</div>

		<div id="feed" class="post-feed pt-3">
			<div class="grid grid-cols-3">
			{{#foreach posts}}
				{{> "post-card"}}
			{{/foreach}}
			</div>
		</div>
	</div>
</section>
