<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>
	<title>{{meta_title}}</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="HandheldFriendly" content="True" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/styles/github-dark.min.css" integrity="sha512-rO+olRTkcf304DQBxSWxln8JXCzTHlKnIdnMUwYvQa9/Jd4cQaNkItIUj6Z4nvW1dqK0SKXLbn9h4KwZTNtAyw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  {{!-- This tag outputs all your advanced SEO meta, structured data, and other important settings, it should always be the last tag before the closing head tag --}}

	<link rel="stylesheet" type="text/css" href="{{asset "built/main.css"}}">
	{{ghost_head}}
</head>
<body class="{{body_class}}">
	<section id="navigation" class="absolute top-0 left-0 z-10 w-full px-5 md:p-0">
		<nav id="header" class="bg-primary-50 rounded py-2 px-3 md:px-6 container mx-auto mt-5 drop-shadow ">
			<div class="flex items-center gap-2">
				<div class="block md:hidden icon mr-4" id="buttonShowMenu">{{>"icons/menu"}}</div>
				<a class="font-header font-semibold text-xl" href="{{@site.url}}">
					{{#if @site.logo}}
						<img src="{{@site.logo}}" alt="{{@site.title}}" />
					{{else}}
						{{@site.title}}
					{{/if}}
				</a>
				<div class="flex-auto">
					<div class="hidden md:block">{{navigation}}</div>
				</div>
				<div id="navbarIcons" class="flex items-center gap-2 md:gap-6">
					{{#if @site.facebook}}
					<a href="{{facebook_url @site.facebook}}" class="icon">{{> "icons/facebook"}}</a>
					{{/if}}
					{{#if @site.twitter}}
					<a href="{{twitter_url @site.twitter}}" class="icon">{{> "icons/twitter"}}</a>
					{{/if}}
					<a href="{{@site.url}}/rss/" class="icon">{{> "icons/rss"}}</a>
					{{#if @custom.login_header_link}}
						{{> "login-button"}}
					{{/if}}
				</div>
			</div>
		</nav>
		<div class="hidden bg-primary-50 rounded py-2 px-3 md:px-6 container mx-auto mt-5 drop-shadow z-50" id="navbarResponsive">
			{{navigation}}
		</div>
	</section>
	<section id="main">
		{{{body}}}
	</section>
	<footer id="footer">
		<div class="container max-w-xs md:max-w-6xl mx-auto">
			<div class="grid grid-cols-2">
				{{navigation type="secondary"}}
				<div class="text-right">
					<section class="copyright pr-3 mt-2"><a href="{{@site.url}}">{{@site.title}}</a> &copy; {{date format="YYYY"}}</section>
					<section class="powered pl-2 mt-2">Powered by <a href="https://ghost.org/" target="_blank" rel="noopener">Ghost</a></section>
				</div>
			</div>
		</div>
	</footer>

	{{@config.lazyload}}
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/highlight.min.js" integrity="sha512-W7EehcwtSbRF63FIQlXEOOd5mnq0Et0V0nUOvwcUvjnCKgOLLYbqriQxEQSp63sfrkryxIg/A/O8v8O18QwQCQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="{{asset "built/main.js"}}"></script>

	{{!-- Ghost outputs required functional scripts with this tag - it should always be the last thing before the closing body tag --}}
	{{ghost_foot}}
</body>
</html>