{{!< default}}

{{#if @site.cover_image}}
<div id="hero" class="w-full relative z-0">
	<div class="hero-image">
		<img class="site-header-cover"
				srcset="{{img_url @site.cover_image size="s"}} 300w,
								{{img_url @site.cover_image size="m"}} 600w,
								{{img_url @site.cover_image size="l"}} 1000w,
								{{img_url @site.cover_image size="xl"}} 2000w"
				sizes="100vw"
				src="{{img_url @site.cover_image size="xl"}}"
				alt=""
		/>
	</div>
	<div class="text-center relative pt-32 pb-56 z-10">
		<h1 class="text-4xl md:text-8xl">{{@site.title}}</h1>
		<p class="text-xl md:text-2xl pt-5">{{@site.description}}</p>
	</div>
</div>
{{/if}}

<div class="container max-w-6xl mx-auto relative px-5 md:px-0">
	{{#get "posts" include="tags,authors" filter="featured:true" limit="1" as |featured|}}
		{{#if featured}}
		<div id="featured" class="-mt-32">
			{{#foreach featured}}
				{{> "post-card-featured"}}
			{{/foreach}}
		</div>
		{{/if}}
	{{/get}}
	<div id="feed" class="post-feed pt-0">
		<div class="grid md:grid-cols-3 gap-7 feed">
		{{#foreach posts}}
			{{> "post-card"}}
		{{/foreach}}
		</div>
	</div>
	<div class="text-center py-10">
		<button type="button" class="font-header text-xl px-4 py-2 rounded btn-primary load-next-page">Load the next {{ @config.posts_per_page}} articles</button>
	</div>
</div>
{{#if @custom.subscribe_homepage_banner}}
	{{> "subscribe-homepage-bottom"}}
{{/if}}