{{!< default}}

{{#post}}

<article id="article" class="article {{post_class}}">

	<header class="article-header">

		<div class="jumbotron jumbotron-fluid">

		{{#if feature_image}}
			<figure class="article-image">
				<img class="site-header-cover"
						srcset="{{img_url feature_image size="s"}} 300w,
										{{img_url feature_image size="m"}} 600w,
										{{img_url feature_image size="l"}} 1000w,
										{{img_url feature_image size="xl"}} 2000w"
						sizes="(min-width: 1400px) 1400px, 92vw"
						src="{{img_url feature_image size="xl"}}"
						alt="{{title}}"
				/>
			</figure>
		{{/if}}
			<div class="container-fluid position-relative mt-5">

				{{#if primary_tag}}
				<section class="article-tag">
						<a class="badge badge-primary px-3 py-2" href="{{primary_tag.url}}">{{primary_tag.name}}</a>
				</section>
				{{/if}}
				<h1>{{title}}</h1>
				{{#if custom_excerpt}}
				<p class="d-block">{{custom_excerpt}}</p>
				{{/if}}
				<div class="article-byline">
					<section class="article-byline-content">
						<div class="row author-list">
							{{#foreach authors}}
							<div class="col-auto pl-0">
								{{#if profile_image}}
								<a href="{{url}}" class="author-avatar d-inline-block">
									<img class="author-profile-image" src="{{img_url profile_image size="xs"}}" alt="{{name}}" />
								</a>
								{{else}}
								<a href="{{url}}" class="author-avatar author-profile-image">{{> "icons/avatar"}}</a>
								{{/if}}
							</div>
							{{/foreach}}
							<div class="col article-byline-meta">
								<h4 class="author-name">{{authors}}</h4>
									<div class="byline-meta-content">
											<time class="byline-meta-date" datetime="{{date format="YYYY-MM-DD"}}">{{date}}</time>
											<span class="byline-reading-time"><span class="bull">&bull;</span> {{reading_time}}</span>
									</div>
							</div>
						</div>
					</section>
        </div>
			</div>
		</div>
	</header>

	<section class="article-content py-md-5">
    {{content}}
	</section>
</article>

{{#unless @member}}
<section id="subscribe">
		<div class="row m-0">
			<div class="col text-center">
				<h2>Sign up for more like this.</h2>
				<a class="subscribe-button" href="#/portal">
						<div>Enter your email</div>
						<span class="btn btn-primary">Subscribe</span>
				</a>
			</div>
		</div>
</section>
{{/unless}}

<aside id="more">
	<div class="container">
		<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
			<div class="col">
				<div class="card mt-2 bg-dark text-white">
					<img src="{{primary_tag.feature_image}}" class="card-img" alt="">
					<div class="card-img-overlay">
						<h5 class="card-title">{{primary_tag.name}}</h5>
						<p class="card-text">{{primary_tag.description}}</p>

						<a href="{{primary_tag.url}}" class="btn mt-5 btn-light w-100">
						{{#get "posts" filter="tag:{{primary_tag.slug}}" limit="all" as |all_in_tags pages|}}
							{{pages.total}} {{plural pages.total empty="" singular="article" plural="articles"}} &raquo;
						{{/get}}
						</a>
					</div>
				</div>
			</div>
			{{#get "posts" filter="id:-{{id}}+tag:{{primary_tag.slug}}" include="authors" limit="2" as |more_posts|}}
				{{#if more_posts}}
					{{#foreach more_posts}}
						<div class="col">
						{{> "post-card"}}
						</div>
					{{/foreach}}
				{{/if}}
			{{/get}}
		</div>
  </div>
</aside>

{{/post}}