{{!< default}}

{{#post}}

<article id="article" class="article {{post_class}}">

	<header class="article-header">

		<div class="jumbotron jumbotron-fluid">

		{{#if feature_image}}
			<figure class="article-image">
				<img class="site-header-cover"
						srcset="{{img_url feature_image size="s"}} 300w,
										{{img_url feature_image size="m"}} 600w,
										{{img_url feature_image size="l"}} 1000w,
										{{img_url feature_image size="xl"}} 2000w"
						sizes="(min-width: 1400px) 1400px, 92vw"
						src="{{img_url feature_image size="xl"}}"
						alt="{{title}}"
				/>
			</figure>
		{{/if}}
			<div class="container-fluid position-relative mt-5">

				{{#if primary_tag}}
				{{#primary_tag}}
				<section class="article-tag">
					<a class="badge badge-primary px-3 py-2" href="{{url}}" style="background-color: {{accent_color}};">{{name}}</a>
				</section>
				{{/primary_tag}}
				{{/if}}
				<h1>{{title}}</h1>
				{{#if custom_excerpt}}
				<p class="d-block">{{custom_excerpt}}</p>
				{{/if}}
				<div class="article-byline">
					<section class="article-byline-content">
						<div class="row author-list">
							<div class="col-auto">
							{{#foreach authors}}
								{{#if profile_image}}
								<a href="{{url}}" class="author-avatar d-inline-block">
									<img class="author-profile-image" src="{{img_url profile_image size="xs"}}" alt="{{name}}" />
								</a>
								{{else}}
								<a href="{{url}}" class="author-avatar author-profile-image">{{> "icons/avatar"}}</a>
								{{/if}}
							{{/foreach}}
							</div>
							<div class="col article-byline-meta">
								<h4 class="author-name">{{authors}}</h4>
									<div class="byline-meta-content">
											<time class="byline-meta-date" datetime="{{date format="YYYY-MM-DD"}}">{{date}}</time>
											<span class="byline-reading-time"><span class="bull">&bull;</span> {{reading_time}}</span>
									</div>
							</div>
						</div>
					</section>
        </div>
			</div>
		</div>
	</header>

	<section class="article-content py-md-5">
    {{content}}
	</section>
</article>

	{{> "subscribe-none"}}

<section id="more">
	<aside class="container grid">

		{{#if primary_tag}}
		{{#primary_tag}}
		<div class="card mt-2 tag-card text-white">
			<img src="{{feature_image}}" class="card-img" alt="">
			<div class="card-img-overlay">
				<a href="{{url}}" class="text-white">
					<div class="h-100 position-relative">
						<h5 class="card-title">{{name}}</h5>
						<p class="card-text">{{description}}</p>

						<span class="btn btn-light w-100">
						{{#get "posts" filter="tag:{{slug}}" limit="all" as |all_in_tags pages|}}
							{{pages.total}} {{plural pages.total empty="" singular="article" plural="articles"}} &raquo;
						{{/get}}
						</span>
					</div>
					</a>
			</div>
		</div>
		{{/primary_tag}}
		{{/if}}
		{{#get "posts" filter="id:-{{id}}+tag:{{primary_tag.slug}}" include="authors" limit="2" as |more_posts|}}
			{{#if more_posts}}
				{{#foreach more_posts}}
					{{> "post-card"}}
				{{/foreach}}
			{{/if}}
		{{/get}}
	</aside>
</section>

{{/post}}